{{> header}}
<main>
  <h2>Create Account</h2>
  <form id="signUpForm" class="account-form" action="/api/user" method="POST">
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button>Submit</button>
    <a href="/login">Login</a>
  </form>
</main>
{{> footer}}
